@media(max-width: 480px){

  .brand-content{
   margin:0 5vw;
  }
  
  .brand-image{
    margin:20px 0 ;
    width:90vw;
  }

  .brand-img{
    width:90vw;
  }
  
  .brand-text{
    margin:20px 0;
    font-family: serif;
    font-size: 12px;
  }
  
  .brand-detail{
    text-align: center;
    font-family: serif;
    margin:20px 0 10px;
  }
  
  .brand-return{
    display:flex;
    flex-wrap: wrap;
    margin:0 5vw 20px;
  }
  
  .brand-returns-btn{
    text-decoration: none;
    color: #444444;
    border-top: solid 5px gray;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    margin:0 0.5vw 3vw;
    padding:20px;
    width:300px;
    height:380px;
  }

}