@media(min-width:480px) and (max-width:1100px){

  .brand-content{
    display:flex;
    margin:0 10vh;
  }
  
  .brand-image{
    margin:50px 0 10px 0;
    position:relative
  }

  .showsample {
    position: absolute;
    top:30%;
    width: 100%;
    height:60px;
    background-color: lightgray;
    color:blue;
    transform: skewY(-10deg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
  }
  
  .showsample span{
    font-size: 40px;
  }
  
  .brand-text{
    margin:60px 0 0 50px;
    font-family: serif;
  }
  
  .brand-detail{
    text-align: center;
    font-family: serif;
    margin:30px 0;
  }
  
  .brand-return{
    display:flex;
    flex-wrap: wrap;
    margin:0 0 50px;
  }
  
  
  .brand-returns-btn{
    text-decoration: none;
    color: #444444;
    border-top: solid 5px gray;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    margin:15px 7px 15px 7px;
    padding:20px;
    width:270px;
    height:380px;
  }

  }