<span style="white-space: pre-wrap;">
<%= @nickname %> 様<br>
この度は、しあえるにご登録ありがとうございます。<br>
今後は、以下の機能がご利用いただけます。<br>
・マイページの閲覧。<br>
・リターンの購入<br>
今後のご利用をお待ちしております。<br>
※本メールはお客様にご入力いただいたメールアドレスあてに発信しているため、入力ミスなどの理由によりまったく別の方にメールが届く場合があります。<br>
もし本メールに心当たりがない場合は、お手数ですが、破棄していただけますようお願いします。<br>
本メールにご返信いただきましても、対応いたしかねます。<br>
お問い合わせは下記URLよりお願いいたします。<br>
■ご意見・ご質問は、こちらからお願いします。<br>
https://shiaeru.herokuapp.com/inquiries/new<br>
株式会社ソネッティーク<br>
</span>









