<%= render "shared/header" %>
<h1 class="transration">特定商取引法に基づく表記</h1>

<table>
<tr>
<th>販売業者</th><th>株式会社ソネッティーク</th>
</tr>

<tr>
<td>お問合せ先</td><td>0285-56-8801</td>
</tr>

<tr>
<th>住所</th><th><p>329-0607</p><p>栃木県河内郡上三川町西汗1662-1</p></th>
</tr>

<tr>
<td>店舗名</td><td>しあえる</td>
</tr>

<tr>
<th>代表者</th><th>大曽根　雄二</th>
</tr>

<tr>
<td>業務責任者</td><td>大曽根　雄二</td>
</tr>

<tr>
<th>商品代金以外の料金</th><th><p>商品代金(税込み)+送料</p><p>送料はご購入10,000円(税込み)以上は無料、10,000円未満は下記送料がかかります。</p><p>・北海道/四国/九州
1160円</p><p>・東北/関東/信越/中部/北陸/関西/中国 860円</p><p>・沖縄 2760円</p></th>
</tr>

<tr>
<td>支払期限</td><td>オーダー確定時にクレジットカード決済いたします。(※リンク先では、ヤマトのクレジットカード決済はご利用いただけません)</td>
</tr>

<tr>
<th>販売数量</th><th>販売表示数量と販売予定数に差異はありませんが、万が一、ご提供できない事情が発生した場合は随時、メール・電話にてご連絡いたします。</th>
</tr>

<tr>
<td>商品の発送</td><td>オーダー受領後、14日以内で発送致します。</td>
</tr>

<tr>
<th>返品について</th><th><p>商品受け取り時に必ず商品の確認をお願いいたします。</p>
<p>商品には万全を期しておりますが、万が一下記のような場合には所定の方法またはお電話にてお問い合わせ下さい。</p>

<p>1.確定したオーダー内容と届いた商品が異なっていた場合。</p>
<p>(念のため当サイトより提示された確定オーダーの内容を今一度ご確認ください)</p>

<p>2.商品が汚れている、または破損している場合。</p>
<p>上記の理由による支障および不良品は無償交換、またはご返金いたします。</p>

<p>商品到着後7日以内に弊社あてに連絡の後、着払いにてご返送下さいませ。</p>
<p>発送確認後、別途指定の商品とお取替え、またはご返金手続きをいたします。</p>

<p>3.お客様ご都合による解約について</p>
<p>確定オーダー受領ののち、ご注文数に応じて発送用の取り分けをいたしますため、充分にご検討の上お申し込みください。</p>
<p>また個数を限定しておりますので、キャンセルにより甚だしい販売機会の逸失が発生した場合には、求償する場合がございます。</p>

<p>お客様ご都合でのご解約の際は返送送料についてはご負担ください。</p>
<p>(一部販売品については発送送料を無料としておりますが、お客様ご都合での解約の場合は返送送料をご負担ください)。商品到着次第、ご返金手続きを行います。</p>
<p>外装(あるいはパッケージ)の状態によっては在庫価値を逸失する恐れがありますため、開封品としてご返金内容を検討させていただく場合がございますのでご留意ください。</p>

<p>異品・汚損ご返送、ご解約の際、いずれも予めご連絡のなかった着荷については受け取りを拒否させていただく場合がありますのでご留意ください。</p></th>
</tr>

</table>

<%= render "shared/footer" %>