<%= render "shared/header" %>

<div class="shiaeru-detail">

<h1 class="shiaeru-title">しあえるの活動</h1>

<h2 class="shiaeru-background">「しあえるプロジェクトのコンセプト・コピー」</h2>
<p class="shiaeru-concept">自然環境にいいことをみんなが・おたがいに・無理なくできることをシェアしあえる場所、それが「しあえる」です。</p>


<h2 class="shiaeru-background">「しあえるプロジェクトの背景」</h2>

<p>
  産業革命以降、急激な経済成長によって私たちは豊かな生活を手にすることができています。
  一方で、経済発展と引き換えに自然環境を破壊してきたことによって地球上のいたるところで環境変動が起きています。
  その要因として地球温暖化が大きく影響しているといわれており、例えば、地球温暖化によって海水が膨張し海面が上昇したり、
  山岳地域では氷河が溶けることによって大規模な洪水が起きたりと水がもたらす災害を引き起こす原因を作っています。
  また気候の急激な変化に適応できない動物や植物たちは生態系が破壊され、絶滅の危機にさらされています。
  その他にも異常気象による豪雨や洪水、干ばつ、熱波、森林火災などによって自然災害が頻繁に起こり、
  地球規模での気候変動で私たちの暮らしや各地域にもたらされる甚大な被害が懸念されています。
  このような状況と呼応するかたちで、2015年9月の国連サミットで 2030年までに持続可能でよりよい世界を目指す国際目標(SDGs)が設定され、
  数年前より注目されている社会的な活動が出てきました。
  SDGsは、持続可能な開発の三側面である経済・社会・環境を調和させることを目的に人類及び地球に極めて重要な分野を
  17のゴール・169のターゲットから構成し、自然環境保全に関する目標も3つ掲げています。
  SDGsのような世界的な動きによって様々な分野への社会貢献活動に対する意識が高まり、
  国や自治体、企業のみならず個人レベルでの取組や活動が散見さるようになり、社会貢献がより身近に感じられるような機運が高まって来ています。 
  一方で、この間も経済発展のために地球上のいたるところで環境は破壊されており、
  追加的な緩和策を講じなければ2100年には現在より平均気温が 4.4°Cも上昇し、様々な環境リスクが倍増すると報告がされています。
  よって豊かな自然に囲まれた暮らしを将来につなげていくためには、
  いま私たちができることを真剣に考えなければならない時期に差し掛かってきていると思っています。
</p>

<h2 class="shiaeru-background">「しあえるプロジェクトのビジョン」</h2>
  <p>
    そこで私たちは、今できることを真剣に考え、次のようなビジョン(目的)を目指します。
    すべての人たちの環境問題への意識を自分ごと化させ、各個人ができることから行動させたい。
    私たちが壊してきてしまった自然環境 それをひとりひとりの個人の力やひとつの企業の力だけではとても小さな変化しか起きないでしょう。
    しかしそんな小さな力でも何かひとつの目的に向かうために各個人の意識が変わり多くの人たちを巻き込み、団結することができれば、
    たったひとりのちょっとした善意でもそれは大きなチカラとなって大地球の豊かな自然に囲まれた“カラフルな未来”へつなげることができると私たちは信じています。
  </p>

<h2 class="shiaeru-background">「しあえるプロジェクトのミッション」</h2>

<p>
  ビジョンを達成させるために私たちは次のことを、自らのミッション(使命)とします。
  「多くの人たちの想いをシャアさせる環境をつくり、今できることをしっかりとカタチにさせる！」
  人類の経済発展のために、この瞬間も地球上のいたるところで環境は破壊されており私たちの当たり前の日常が当たり前ではなくなる、
  そんな時期がすぐそこまで近づいて来ています。
  そこで私たちは、現在、地球上で起きている自然環境の変動についてそれらの情報をしっかりと伝え、
  その中で感じてもらった皆さまの想いを大切にし多くの人たちの想いをたくさん集め、シェアできる環境を整備します。
  そして皆さまから託された大切な想いを自然環境保護活動につなげ、支援した自然環境保全への取組は必ず目に見えるカタチにします。
</p>

<h2 class="shiaeru-background">「しあえるプロジェクトのバリュー」</h2>

  <p class="shiaeru-3s">私たちは、本サービスを提供する者として3つのSを組織の共通する価値観とします。</p>
<div class="shiaeru-value">
  <p class="shiaeru-3s">3S ( Sincere ・ Share ・ See through )</p>
    <p>Sincere(言行一致)：私たちは社会貢献活動を支援するサービス提供者として ユーザーの皆さまが安心してサービスを利用することできるよう 言行一致で、うそ偽りのない誠実な行動をとります。</p>
    <p>Share(貢献しあえる場の創出)：私たちは社会貢献活動を支援するサービス提供者として ユーザーの皆さまの「貢献したい」という想いを大きくするために 貢献しあえる場を創出します。</p>
    <p>See through(透明性で全力遂行)：私たちは社会貢献活動を支援するサービス提供者として 不正を自ら正すために透明性の高い運営と情報の開示を行うとともに 常に全力を尽くし最後までやり遂げます。</p>
</div>



</div>


<%= render "shared/footer" %>
