<footer id="footer">
  <section class="primary">
    <p class="logo"><a href="#">しあえる</a></p>
    <p class="address">
      〒3290607 栃木県河内郡上三川町西汗１６６２－１<br>
      TEL : 028-556-8801　/　FAX : 028-556-8802
    </p>
    <div class="navi-row">
      <ul class="navi">    
        <li><%= link_to "お問い合わせ", new_inquiry_path %></li>
        <li><a href="https://www.sonettique.com/">会社概要</a></li>
        <li><%= link_to "特定商取引法に基づく表記", pay_users_path %></li>
      </ul>
</footer>
