@media(min-width:480px) and (max-width:1100px){

  .title-contents{
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position:center;
    height:380px;
    color:#fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family:serif;
  }
  
  h1.service-title1{
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0px 0px 1px #000,
    4px 4px 2px rgba(0,0,0,0.5);
    margin-top:80px;
  }
  
  h1.service-title2{
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0px 0px 1px #000,
    4px 4px 2px rgba(0,0,0,0.5);
    margin-top:20px;
  }
  
  h1.service-title3{
    font-size: 21px;
    font-weight: bold;
    text-shadow: 0px 0px 1px #000,
    4px 4px 2px rgba(0,0,0,0.5);
    margin-top:30px;
  }
  
  .shiaeru-project{
    position: relative;
    color: #333333;
    font-weight: 800;
    text-align: center;
    font-family:serif;
    margin:20px auto 50px;
    font-size: 20px;
  }
  
  .shiaeru-project:before {
    position: absolute;
    content: '';
    width: 70px;
    height: 4px;
    background-color:gray;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .shiaeru-content{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top: solid 5px gray;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    width:800px;
    height:300px;
    margin:auto;
    padding:10px;
  }
  
  .activities{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  p.shiaeru-detail{
    text-align: center;
    font-weight: bold;
    font-family:serif;
    font-size: 19px;
    margin: 5px 0 10px 0 ;
  }
  
  p.sub-title{
  font-size: 15px;
  font-weight: bold;
  font-family:serif;
  
  }
  
  .shiaeru-btn{
  background-color: #44a73c;;
  text-decoration: none;
  border-radius: 5px;
  padding:10px;
  width:110px;
  text-align: center;
  margin:10px auto 0;
  }
  
  p.shiaeru-text{
    color:#fff;
    font-size: 13px;
    font-weight: bold;
    font-family: serif;
    margin:0;
  }
  
  h3.project-list{
    position: relative;
    color: #333333;
    font-weight: 800;
    text-align: center;
    font-family:serif;
    margin:50px auto;
    font-size: 20px;
  }
  
  .project-list:before{
    position: absolute;
    content: '';
    width: 70px;
    height: 4px;
    background-color:gray;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .main{
    display:flex;
    flex-wrap: wrap;
    justify-content: start;
    margin:0;
  }
  
  /* _item */
  
  .list{
    list-style: none;
    border-top: solid 5px gray;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    width:21vw;
    height:270px;
    margin:0 0.5vw 1vw;
    padding:10px;
    font-size: 15px;
    font-weight: bold;
    font-family: serif;
    position: relative;
  }
  
  .item_list{
    text-decoration: none;
    color:black;
    display:flex;
    flex-direction: column;
  }
  
  .item-img {
    height:200px;
    border-radius: 10px;
  }

  .sample {
    position: absolute;
    top: 30%;
    width: 21vw;
    height:60px;
    background-color: lightgray;
    color:blue;
    transform: skewY(-10deg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
  }
  
  .sample span{
    font-size: 25px;
  }
  
  p.item-info{
    padding:0;
  }
  
  .orner-edit-btn{
    color:gray;
    text-decoration:none;
  }
  
  /* _item */
  
  .SDGs{
    display:flex;
    justify-content: center;
  }
  
  .sdgs{
    margin:5px 10px 20px;
  }
  
  .SDGs-text{
    font-size: 18px;
    font-weight: bold;
    font-family: serif;
    text-align: center;
  }
  
  
  span.purchase-btn-texts{
    color:gray;
    font-weight:bold;
    margin-left:90px;
  }


  .slider {
    position: relative;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin:0 auto;
    padding:0;
  }
  
  .arrow{
  background-color: lightgray;
  font-weight: bold;
  color:white;
   font-size: 20px;
    margin:auto 0;
    width:0%;
    height:15%;
    padding:0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  ul.slider-inner {
    position: relative;
    margin:0;
    width: 100%;
    height: 100%;
    list-style: none;
    padding:0;
  }
  
  ul.slider-inner li {
    width:100%;
    height: 100%;
    opacity: 0;
    -webkit-appearance: none;
    transition:all 1s ease-in-out;
  }
  
  .slider .slider-inner li{
   position: absolute;
  }
  
  .slider .slider-inner li.show {
    opacity: 1;
    width:100%;
  }
  
  li img{
    width:100%;
    height:100%;
  }

  .nav-btn{
    -webkit-appearance: none;
    display: flex;
    justify-content: center;
  }
  
  .nav{
    padding:0;
    margin:20px 0;
  }
  
  .nav-btn .nav li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 15px;
    background: lightgray;
    cursor: pointer;
  
  }
  
  }