@media(max-width: 480px){

.return-main{
  margin:20px 5vw 20px;

}

.return-images{
  width:100%;
}

.return-image{
  width:100%;
  margin-bottom:40px;
}

.return-content{
  width:100%;
  margin:0;
}

p.return-text{
font-size: 18px;
font-weight: bold;
font-family: serif;
margin:0;
}

p.return-price{
  font-size: 18px;
  font-weight: bold;
  font-family: serif;
  margin:5px 0;
}

p.return-donate{
  font-size: 15px;
  font-weight: bold;
  font-family: serif;
  margin:0 0 15px 0;
}

.return-quantity{
  display:flex;
  align-items: center;
  width:100%;
}

span.quantities{
  font-weight: bold;
}

input[class="return-quantities"]{
  width:15%;
  height:40px;
}

.return-buy{
 -webkit-appearance: none;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
	position: relative;
	width: 200px;
	padding: 0.8em;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
	border-radius: 5px;
	border:1px solid #1B1B1B;
  margin:0;
}

.return-buy:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #efefef;
  margin:0;
}

.goods{
  margin:4vh 0 0;
  width:100%;
}

p.goods-details{
margin:5px 0;
font-size: 18px;
font-weight: bold;
font-family: serif;
}

.goods-detail{
  padding:10px;
  border-radius: 5px;
  border-top: solid 5px gray;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  font-size: 15px;
  font-weight: bold;
  font-family: serif;
  margin:0;
}

}