@media(min-width: 480px){

.shopping-cart{
  font-family: serif;
  margin:50px 0;
  text-align: center;
}

.text-center{
  font-family: serif;
  text-align: center;
  margin:100px 0;
}
.carts{
  margin:0 180px;
}

.cart-title{
  display: flex;
  justify-content:space-between;
  border-bottom:1px solid gray;
}

.cart-product{
  font-weight: bold;
  font-family: serif;
  margin-bottom:20px;
}

.cart-subtitle{
}

span.cart-details{
  font-family: serif;
  font-weight: bold;
  margin:0 10vw 20px 0;

}

span.cart-value{
  font-family: serif;
  font-weight: bold;
}


.cart{
}

.cart-main{
  border-bottom:1px solid gray;
}

.cart-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #444444;
  margin:10px 0;
}

.product-name{
  width:40%;
}

.back-btn{
  text-decoration:none;
  color: #444444;
  display: flex;
}

img.cart-image{
  width:20%;
  height:20%;
}

p.cart-name{
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
  width:80%;
}

.cart-donate-price{
  font-family: serif;
  font-weight: bold;
  margin:0;
  display: flex;
}

form[class="cart-quantity"]{
font-size: 12px;
margin:0 7vw 0 0;
display: flex;

}

input[class="quantity"]{
  height:25px;
  }

input[class="change"]{
  font-size: 12px;
  margin:5px 0 0 5px;
  height:25px;

}

.back-btn:hover{
text-decoration: underline;
}

p.back-btn{
  text-decoration: none;
  color: #444444;
  background-color: #efefef;
  border:1px solid gray;
  border-radius: 3px;
  width:110px;
  text-align: center;
  font-size: 15px;;
}

input[class="cart-destroy"]{
  font-size: 12px;
  margin:0 0 15px 68vw ;
}

.cart-buy{
  text-align: end;
}
p.cart-price{

  font-family: serif;
  font-size: 18px;
  font-weight: bold;

  /* text-align: right; */
}

.return-btn{
  text-align: end;
}

button.return-buy-move{
	width: 200px;
	padding: 0.8em;
	text-decoration: none;
  margin:5px 0 30px;
 


}

p.return-buy-move:hover {
  cursor: pointer;
  text-decoration: none;
  background-color:#dddddd;
}

}